@using CandidateTracker.Data
@model Candidate
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h4>Name: @Model.Name</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Phone: @Model.Phone</h4>
            <h4>Status: Pending</h4>
            <h4>Notes:</h4>
            <p>@Model.Notes</p>
            <input id="candidateId" value="@Model.Id" type="hidden" />
            <div id="buttons">
                <button class="btn btn-primary" id="confirm-button">Confirm</button>
                <button class="btn btn-danger" id="decline-button">Decline</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="/js/Pending.js"></script>
}